html{
    min-height: 100%;
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header{
    background-color: #1F2937;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px;
    padding:10px;
}

a {
    text-decoration: none;
    color:white;
    gap:20px;
}

.left-links{
    display: flex;
    gap:20px;
    padding:10px;
    margin-right: 50px;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin:0px;
}

.sect1{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;

}

.sect1 img{
    width:640px;
    height: auto;
}

.img1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px;
}

.sect1 h4 { 
    font-size: 48px;
    font-weight: 800;
    color:#F9FAF8;
    margin-bottom: 5px;
}

.sect1 h4{
    margin-top: 5px;
}

.text1 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:720px;
    height: auto;
}

button{
    Display:flex;
    background-color: #3882F6;
    color: #F9FAF8;
   justify-content: center;
   border-radius: 25px 25px;
   border-style: none;
   outline-style: none;
    width:100px;
    padding:10px;
    font-weight: 800;

}

.sect2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container2{
    display: flex;
    justify-content: center;
    gap:30px;
    text-align: center;

}

.info{
    justify-content: center;
    max-width: 320px;
    height: auto;
    margin-bottom: 52px;
}

.info img{
    display: flex;
    justify-content: center;
    max-width: 640px;
    height: auto;
    margin-bottom: 52px;
    border: 5px solid #3882F6;
}

.info img{
    display: flex;
    justify-content: center;
    width: 320px;
    height: auto;
}

.sect3{
    background-color: #E5E7EB;
    font-size: 36px;
    color:#1F2937;
    font-style: light italic;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.sect3 .text{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-right:50px;
    }

.sect3 .center{
    display: flex;
    align-self: center;
    width:1000px;
}

.sect3 .right{
display: flex;
align-self: flex-end;
margin-right:50px;
}


.footer{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    padding:30px;
}