html{
    min-height: 100%;
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px;
}

a {
    text-decoration: none;
    color:white;
    gap:20px;
}

.left-links{
    display: flex;
    gap:20px;
    padding:10px;
    margin-right: 50px;
}

.content{
    display: flex;
    flex:1;
    margin:0px;
}

.sect1{
    background-color: #1F2937;
    color: white;

}


.footer{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}